.conteiner{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    background-color: #0cb5ec;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
}

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.text{
    color: rgb(223, 237, 247);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.4px;
}

.textSelect{
    color: rgb(223, 237, 247);
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 0.4px;
    border-bottom: 2px solid;
}